{% extends "layout.html" %}

{% block title %}
   Event details
{% endblock %}
{% block main %}

   Check details for {{rows[2]}} event below:

    <table>
        <thead>
            <tr>
                <th>Initial number of tickets</th>
                <th>Total tickets redeemed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="update_tickets">{{rows[0]}}</td>
                <td>{{rows[1]}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="hidden" id="event_id" value="{{event_id}}">
    <input type="hidden" id="update_ticket" value="{{rows[0]}}">
    <input type="number" placeholder="Add tickets" id="add_tickets">
    <button onclick="addTickets()">Submit</button>
    <br>
    <br>
    <button onclick="refreshCounter()">Refresh counter</button>
    <p id="message"></p>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Ticket token</th>
                <th>Redeemed ticket</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{result[0]}}</td>
                <td>{{result[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script>

        function addTickets() {
            var params = new Object();
            var data = document.getElementById("add_tickets").value;
            var old_ticket = document.getElementById("update_ticket").value;
            params.new_ticket = parseInt(data) + parseInt(old_ticket);
            console.log("sum="+ params.new_ticket)
            params.event_id = document.getElementById("event_id").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_tickets", true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(JSON.stringify(params));
            document.getElementById("add_tickets").value = "";
            document.getElementById("message").innerHTML = "Request done successfully!";

        }


        function refreshCounter() {
            var event_id = document.getElementById("event_id").value;
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   document.getElementById("update_tickets").innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", "/total_tickets?"+ "event_id="+  event_id, true);
            xhr.send();
        }


    </script>


{% endblock %}