{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}
{% block main %}

    See the events list below:
    <table>
        <thead>
            <tr>
                <th>Event id</th>
                <th>Date</th>
                <th>Event name</th>
            </tr>
        </thead>
        <tbody>
            {% for event in results %}
            <tr> <!-- these are all from events table -->
                <td>{{event[0]}}</td>
                <td>{{event[4]}}</td>
                <!--this links gets me to the url events_details with the event_id parameter -->
                <td><a href = "{{ url_for('event_details', event_id=event[0])}}">{{event[1]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}